.Home{
    width: 100%;
    height: 100vh;
    background-image: url('./assets/img/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.WebsiteTitle{
    color: #ededed;
    background-color: #424242;
    text-align: center;
    padding: 20px 60px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: -6px 5px 9px 0px rgba(0,0,0,0.77);
}

.ArticlesTitle{
    align-self: start;
    color: #ededed;
    background-color: #424242;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    padding-right: 100px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: -6px 5px 9px 0px rgba(0,0,0,0.77);
}

.ArticleFeature{
    background-color: #ededed;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-bottom: 25px;
    box-shadow: -6px 5px 9px 0px rgba(0,0,0,0.77);
}

.ArticleLink{
    color: #424242;
    text-decoration: none;
}

.ArticleLink:visited{
    color: #424242;
    text-decoration: none;
}

.ArticleLink:active{
    color: #424242;
    text-decoration: none;
}

.ArticleFeatureTitle{
    margin-top: 5px;
    font-size: 20px;
    margin-bottom: 0px;
}

.FeatureArticleThumbnail{
    width: 95%;
    margin-top: 5px;
}

.FeatureArticleDescription{
    text-indent: 0;
    text-align: center;
    margin-bottom: 5px;
}

.Articles{
    display: grid;
    grid-template-columns: 33vw auto 33vw;
    justify-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow-y: auto;
}

.AboutBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    background-color: #424242;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: 15px;
}

.AboutText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AboutTitle{
    color: #ededed;
    margin-bottom: 0;
}

.arrow{
    border: solid #ededed;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.AboutText{
    color: #ededed;
    width: 32vw;
    text-indent: 0;
    margin: 10px;
}

.AboutImage{
    margin: 10px;
}

.AboutButton{
    margin-top: 10px;
}

.footer{
    color: #ededed;
    background-color: #424242;
    width: 90%;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}